[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
ipdb = "*"
pytest = "*"

[dev-packages]
importlib-metadata = "*"
importlib-resources = "*"
ipdb = "*"
pytest = "*"

[requires]
python_full_version = "3"
